<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Menu</h1>
    <table id="menu-table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Availability</th>
            <th>Actions</th>
        </tr>
        {% for dish in menu %}
        <tr>
            <td>{{ dish['id'] }}</td>
            <td>{{ dish['name'] }}</td>
            <td>{{ dish['price'] }}</td>
            <td>{{ dish['availability'] }}</td>
            <td><a href="{{ url_for('remove_dish', dish_id=dish['id']) }}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Go Back</a>
</body>
</html>
